@CHARSET "UTF-8";
body{
	background-color: rgb(235,235,233);	
}

.test {
	background:url(../image/test-1900px.png);
	min-width:830px;
	background-repeat:no-repeat;
}
    
/*
border-style:none;
		border-width:0;
		width:100%;
		height:611px;
		background-image: url(../image/landing-page-image-1.jpg);
		background-position:center;
*/
.text-size1{
	font-size:10px;
}

.text-size2{
	font-size:14.4px;
}

.text-size3{
	font-size:17.28px;
}

.text-size4{
	font-size:12px;
}

.color_grey1{
	color: rgb(134,134,134);
}



.page{
	min-height: 100%;
    height: auto !important;
    height: 100%;
}

.head{
	background-color:rgb(50,40,38);
	width:100%;
	min-width:960px;	
}



.logo-image{
	float:left;
	margin-left:6px;
	margin-top:6px;
	width:44.617px;
	height:28.849px;
}

.head_searchbar{
	float: right;
	width: 256px;
	margin-top: 3px;
}

.head-inscrit{
	float:left;
	font-size:12px;
	margin-right:6px;
	margin-left:5px;
	margin-top:10px;
}

.head-text{
	 font-size:12px;
	 text-decoration:none;
	 color:white;
	 display: inline-block;
}

.head-text-mid{
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	padding-right: 8px;
	text-overflow: ellipsis;
	vertical-align: initial;
	white-space: nowrap;
}

a:hover{
	text-decoration: none;
	color: rgb(255,255,255);
} 

ul{
    list-style: none;
}

.head-ul{
	float: left;
	margin-left: 125px;
}

.head-li{
	display: inline-block;
	margin-left: 21px;
	margin-right: 21px;
	margin-top: 10px;
}

.head-li2{
	display: inline-block;
	margin-left: 49px;
	margin-right: 6px;
	margin-top: 10px;
}

.head-menu{
	overflow: initial;
}

.container0{
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

.container1 {
  margin-right: auto;
  margin-left: auto;
  width: 530px;
}

.container2{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
.container1 > .navbar-header,
.container-fluid > .navbar-header,
.container1 > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container1 > .navbar-header,
  .container-fluid > .navbar-header,
  .container1 > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}



.head_content{
	background-image: url(../image/head-content-orange.jpg);
	repeat: no-repeat;
	height:47px;
	margin-top: 6px;
}

.head_content1{
	background-color: rgb(204,204,204);
	margin-left:7px;
	margin-right:7px;
}

.head_content2{
	background-color: rgb(247,247,247);
	margin-left: 5px;
	margin-right:5px;
	margin-bottom:3px;
}

.head_content2b{
	background-color: rgb(204,204,204);
	margin-left: 5px;
	margin-right:5px;
	height:2px;
}

.content1{
	color: white;
	font-size: 17.28px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.content2{
	color: rgb(134,134,134);
	font-size: 14.4px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.content2b{
	color: rgb(134,134,134);
	font-size: 14.4px;
	padding: 5px 5px 24px 5px;
	text-align: center;
	font-weight: bold;
}


.content3{
	color: rgb(134,134,134);
	padding: 15px 5px 0px 5px;
	text-align: center;
	font-weight: bold;
	margin-top: 7px;
}

.content3b{
	color: rgb(134,134,134);
	padding: 27px 5px 5px 5px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 12px;
}

.content3c{
	color: rgb(134,134,134);
	padding: 0px 5px 0px 5px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 12px;
}

.content3d{
	color: rgb(134,134,134);
	padding: 0px 5px 0px 5px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 27px;
}

.content3e{
	color: rgb(134,134,134);
	padding: 0px 5px 16px 5px;
	text-align: center;
	font-weight: bold;
	margin-top: 7px;
}

.content3f{
	color: rgb(134,134,134);
	padding: 0px 5px 0px 5px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 16px;
}

.content3g{
	color: rgb(134,134,134);
	padding: 0px 5px 0px 5px;
	text-align: center;
	font-weight: bold;
}

.line_block{
	display: inline-flex;
	margin-top: 5px;
	margin-left: 80px;
	font-weight: bold;
	}
	
.text_mid{
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

.hr1{
	width: 140px;
	margin: 5px;
	size: 2px;
	border: 0;
	border-top: 1px solid rgb(50,40,38);
	margin-top: 10px;
	font-weight: bold;
}

.hr2{
	width: 486px;
	size: 2px;
	border: 0;
	border-top: 1px solid rgb(200,200,200);
	font-weight: bold;
	margin-top: 0px;
  	margin-bottom: 0px;
}

.hr3{
	width: 310px;
	size: 2px;
	border: 0;
	border-top: 1px solid rgb(50,40,38);
	font-weight: bold;
	margin: 5px;
}

.hr4{
	width: 456px;
	size: 2px;
	border: 0;
	border-top: 1px solid rgb(50,40,38);
	font-weight: bold;
	margin: 14px 0 8px 10px;
}

.footer_bottom{
	width:100%;
	height:60px;
	min-width:960px;	
	position: absolute;  
	bottom: 0;  
	left:0; 
}

.footer_bottom, .push {
	width:100%;
	height:60px;
	min-width:960px;	
}


.footer_text{
	color: rgb(134,134,134);
	padding:5px 20px;
}


.footer_copyright{
	margin-left:135px;
}

.btn-primary2 {
  color: #ffffff;
  background-color: rgb(55,83,143);
  border-color: rgb(55,83,143);
  width:117.8px;
  height:24px;
}

.btn2 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 7px;
  font-size: 10px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary2 {
  color: #ffffff;
  background-color: rgb(55,83,143);
  border-color: rgb(55,83,143);
  width:117.8px;
  height:24px;
}

.btn-primary3 {
  color: #ffffff;
  background-color: rgb(77,144,254);
  border-color: rgb(77,144,254);
  width:117.8px;
  height:24px;
}

.size_fb{
	height:24px;
	width:24px;
}

.size_gg{
	margin-left:6px;
	height:24px;
	width:24px;
}

.select_mod{
	margin: auto;
	width:184px;
	padding:1px 12px;
	height: 24px;
}

.center_component{
	display: -webkit-inline-box;
	margin-left: 33px;
}

.center_component2{
	display: -webkit-inline-box;
	margin-left: 110px;
}

.input_mod{
	width:197px;
	height:24px;
	margin: 0px 4px; 
}

.input_mod2{
	width:147px;
	height:24px;
	margin: 0px 4px; 
}

.margin1{
	margin-bottom: 8px;
}


.color-orange{
	color: rgb(235,101,49);
}

.head-ul2{
	float:left;
	margin-left:100px;
}

.head-li2{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.head_searchbar {
	float: left;
	width: 200px;
	margin-top: 8px;
	margin-left: 40px;
}

.head-avatar{
	height: 24px;
	width: 24px;
	margin: 8px -2px 0px 37px;
}

.btn-avatar{
}

.head-divider{
	margin:0 5px;
	height: 1px;
	overflow: hidden;
	background-color: #e5e5e5;
}

.head-list{
	padding:0px 20px;
}

.mainpage{
	overflow:hidden;
}

.leftbar1{
	width:186px;
	float:left;
}

.leftbar2{
	width:174px;
	margin:0 6px;
	display:none;
}

.btn3{
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: left;
	  vertical-align: middle;
	  cursor: pointer;
	  background-image: none;
	  border: 1px solid transparent;
	  white-space: nowrap;
	  font-size: 14.4px;
	  line-height: 2.3;
	  border-radius: 2px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width:174px;
	  height:28px;
	  margin: 2px 6px 2px 6px;
}

.btn4{
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: left;
	  vertical-align: middle;
	  cursor: pointer;
	  background-image: none;
	  border: 1px solid transparent;
	  white-space: nowrap;
	  font-size: 14.4px;
	  line-height: 2.3;
	  border-radius: 2px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width:174px;
	  height:28px;
	  margin: 6px 6px 2px 6px;
}

.btn4:active{
	font-weight:bold;
}

.btn5{
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: left;
	  vertical-align: middle;
	  cursor: pointer;
	  background-image: none;
	  border: 1px solid transparent;
	  white-space: nowrap;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width:162px;
	  height:20px;
	  margin: 1px 6px 1px 6px;
}

.btn-leftbar{
	border-color: rgb(247,247,247)!important;
	background-color: rgb(247,247,247)!important;
}

.btn-sport{
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-sport:hover,
.btn-sport:focus
{
  color: #ffffff;
  background-color: rgb(13,204,232);
  border-color: rgb(13,204,232);
}

.btn-sport:active,
.btn-sport.active,
.open .dropdown-toggle.btn-sport {
  color: #ffffff;
  background-color: rgb(20,192,221);
  border-color: rgb(20,192,221);
}
.btn-sport:active,
.btn-sport.active,
.open .dropdown-toggle.btn-sport {
  background-image: none;
}
.btn-sport.disabled,
.btn-sport[disabled],
fieldset[disabled] .btn-sport,
.btn-sport.disabled:hover,
.btn-sport[disabled]:hover,
fieldset[disabled] .btn-sport:hover,
.btn-sport.disabled:focus,
.btn-sport[disabled]:focus,
fieldset[disabled] .btn-sport:focus,
.btn-sport.disabled:active,
.btn-sport[disabled]:active,
fieldset[disabled] .btn-sport:active,
.btn-sport.disabled.active,
.btn-sport[disabled].active,
fieldset[disabled] .btn-sport.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-sport .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-gastronomie {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-gastronomie:hover,
.btn-gastronomie:focus
{
  color: #ffffff;
  background-color: rgb(99,56,22);
  border-color: rgb(99,56,22);
}

.btn-gastronomie:active,
.btn-gastronomie.active,
.open .dropdown-toggle.btn-gastronomie {
  color: #ffffff;
  background-color: rgb(86,50,25);
  border-color: rgb(86,50,25);
  font-weight:bold;
}
.btn-gastronomie:active,
.btn-gastronomie.active,
.open .dropdown-toggle.btn-gastronomie {
  background-image: none;
}
.btn-gastronomie.disabled,
.btn-gastronomie[disabled],
fieldset[disabled] .btn-gastronomie,
.btn-gastronomie.disabled:hover,
.btn-gastronomie[disabled]:hover,
fieldset[disabled] .btn-gastronomie:hover,
.btn-gastronomie.disabled:focus,
.btn-gastronomie[disabled]:focus,
fieldset[disabled] .btn-gastronomie:focus,
.btn-gastronomie.disabled:active,
.btn-gastronomie[disabled]:active,
fieldset[disabled] .btn-gastronomie:active,
.btn-gastronomie.disabled.active,
.btn-gastronomie[disabled].active,
fieldset[disabled] .btn-gastronomie.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-gastronomie .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-musique {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-musique:hover,
.btn-musique:focus
{
  color: #ffffff;
  background-color: rgb(207,29,5);
  border-color: rgb(207,29,5);
}

.btn-musique:active,
.btn-musique.active,
.open .dropdown-toggle.btn-musique {
  color: #ffffff;
  background-color: rgb(193,27,10);
  border-color: rgb(193,27,10);
  font-weight:bold;
}
.btn-musique:active,
.btn-musique.active,
.open .dropdown-toggle.btn-musique {
  background-image: none;
}
.btn-musique.disabled,
.btn-musique[disabled],
fieldset[disabled] .btn-musique,
.btn-musique.disabled:hover,
.btn-musique[disabled]:hover,
fieldset[disabled] .btn-musique:hover,
.btn-musique.disabled:focus,
.btn-musique[disabled]:focus,
fieldset[disabled] .btn-musique:focus,
.btn-musique.disabled:active,
.btn-musique[disabled]:active,
fieldset[disabled] .btn-musique:active,
.btn-musique.disabled.active,
.btn-musique[disabled].active,
fieldset[disabled] .btn-musique.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-musique .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-mode {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-mode:hover,
.btn-mode:focus
{
  color: #ffffff;
  background-color: rgb(240,74,124);
  border-color: rgb(240,74,124);
}

.btn-mode:active,
.btn-mode.active,
.open .dropdown-toggle.btn-mode {
  color: #ffffff;
  background-color: rgb(234,54,114);
  border-color: rgb(234,54,114);
  font-weight:bold;
}
.btn-mode:active,
.btn-mode.active,
.open .dropdown-toggle.btn-mode {
  background-image: none;
}
.btn-mode.disabled,
.btn-mode[disabled],
fieldset[disabled] .btn-mode,
.btn-mode.disabled:hover,
.btn-mode[disabled]:hover,
fieldset[disabled] .btn-mode:hover,
.btn-mode.disabled:focus,
.btn-mode[disabled]:focus,
fieldset[disabled] .btn-mode:focus,
.btn-mode.disabled:active,
.btn-mode[disabled]:active,
fieldset[disabled] .btn-mode:active,
.btn-mode.disabled.active,
.btn-mode[disabled].active,
fieldset[disabled] .btn-mode.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-mode .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-voyage {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-voyage:hover,
.btn-voyage:focus
{
  color: #ffffff;
  background-color: rgb(159,204,49);
  border-color: rgb(159,204,49);
}

.btn-voyage:active,
.btn-voyage.active,
.open .dropdown-toggle.btn-voyage {
  color: #ffffff;
  background-color: rgb(156,191,46);
  border-color: rgb(156,191,46);
  font-weight:bold;
}
.btn-voyage:active,
.btn-voyage.active,
.open .dropdown-toggle.btn-voyage {
  background-image: none;
}
.btn-voyage.disabled,
.btn-voyage[disabled],
fieldset[disabled] .btn-voyage,
.btn-voyage.disabled:hover,
.btn-voyage[disabled]:hover,
fieldset[disabled] .btn-voyage:hover,
.btn-voyage.disabled:focus,
.btn-voyage[disabled]:focus,
fieldset[disabled] .btn-voyage:focus,
.btn-voyage.disabled:active,
.btn-voyage[disabled]:active,
fieldset[disabled] .btn-voyage:active,
.btn-voyage.disabled.active,
.btn-voyage[disabled].active,
fieldset[disabled] .btn-voyage.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-voyage .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-gaming {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-gaming:hover,
.btn-gaming:focus
{
  color: #ffffff;
  background-color: rgb(255,185,1);
  border-color: rgb(255,185,1);
}

.btn-gaming:active,
.btn-gaming.active,
.open .dropdown-toggle.btn-gaming {
  color: #ffffff;
  background-color: rgb(244,169,3);
  border-color: rgb(244,169,3);
  font-weight:bold;
}
.btn-gaming:active,
.btn-gaming.active,
.open .dropdown-toggle.btn-gaming {
  background-image: none;
}
.btn-gaming.disabled,
.btn-gaming[disabled],
fieldset[disabled] .btn-gaming,
.btn-gaming.disabled:hover,
.btn-gaming[disabled]:hover,
fieldset[disabled] .btn-gaming:hover,
.btn-gaming.disabled:focus,
.btn-gaming[disabled]:focus,
fieldset[disabled] .btn-gaming:focus,
.btn-gaming.disabled:active,
.btn-gaming[disabled]:active,
fieldset[disabled] .btn-gaming:active,
.btn-gaming.disabled.active,
.btn-gaming[disabled].active,
fieldset[disabled] .btn-gaming.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-gaming .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-culture {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-culture:hover,
.btn-culture:focus
{
  color: #ffffff;
  background-color: rgb(118,107,103);
  border-color: rgb(118,107,103);
}

.btn-culture:active,
.btn-culture.active,
.open .dropdown-toggle.btn-culture {
  color: #ffffff;
  background-color: rgb(109,101,98);
  border-color: rgb(109,101,98);
  font-weight:bold;
}
.btn-culture:active,
.btn-culture.active,
.open .dropdown-toggle.btn-culture {
  background-image: none;
}
.btn-culture.disabled,
.btn-culture[disabled],
fieldset[disabled] .btn-culture,
.btn-culture.disabled:hover,
.btn-culture[disabled]:hover,
fieldset[disabled] .btn-culture:hover,
.btn-culture.disabled:focus,
.btn-culture[disabled]:focus,
fieldset[disabled] .btn-culture:focus,
.btn-culture.disabled:active,
.btn-culture[disabled]:active,
fieldset[disabled] .btn-culture:active,
.btn-culture.disabled.active,
.btn-culture[disabled].active,
fieldset[disabled] .btn-culture.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-culture .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-jeu-table {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-jeu-table:hover,
.btn-jeu-table:focus
{
  color: #ffffff;
  background-color: rgb(102,45,145);
  border-color: rgb(102,45,145);
}

.btn-jeu-table:active,
.btn-jeu-table.active,
.open .dropdown-toggle.btn-jeu-table {
  color: #ffffff;
  background-color: rgb(87,45,132);
  border-color: rgb(87,45,132);
  font-weight:bold;
}
.btn-jeu-table:active,
.btn-jeu-table.active,
.open .dropdown-toggle.btn-jeu-table {
  background-image: none;
}
.btn-jeu-table.disabled,
.btn-jeu-table[disabled],
fieldset[disabled] .btn-jeu-table,
.btn-jeu-table.disabled:hover,
.btn-jeu-table[disabled]:hover,
fieldset[disabled] .btn-jeu-table:hover,
.btn-jeu-table.disabled:focus,
.btn-jeu-table[disabled]:focus,
fieldset[disabled] .btn-jeu-table:focus,
.btn-jeu-table.disabled:active,
.btn-jeu-table[disabled]:active,
fieldset[disabled] .btn-jeu-table:active,
.btn-jeu-table.disabled.active,
.btn-jeu-table[disabled].active,
fieldset[disabled] .btn-jeu-table.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-jeu-table .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-plus {
  color: #ffffff;
  background-color: rgb(134,134,134);
  border-color: rgb(134,134,134);
}


.btn-plus:hover,
.btn-plus:focus
{
  color: #ffffff;
  background-color: rgb(198,156,109);
  border-color: rgb(198,156,109);
}

.btn-plus:active,
.btn-plus.active,
.open .dropdown-toggle.btn-plus {
  color: #ffffff;
  background-color: rgb(183,142,101);
  border-color: rgb(183,142,101);
  font-weight:bold;
}
.btn-plus:active,
.btn-plus.active,
.open .dropdown-toggle.btn-plus {
  background-image: none;
}
.btn-plus.disabled,
.btn-plus[disabled],
fieldset[disabled] .btn-plus,
.btn-plus.disabled:hover,
.btn-plus[disabled]:hover,
fieldset[disabled] .btn-plus:hover,
.btn-plus.disabled:focus,
.btn-plus[disabled]:focus,
fieldset[disabled] .btn-plus:focus,
.btn-plus.disabled:active,
.btn-plus[disabled]:active,
fieldset[disabled] .btn-plus:active,
.btn-plus.disabled.active,
.btn-plus[disabled].active,
fieldset[disabled] .btn-plus.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-plus .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-sport-min{
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-sport-min:hover,
.btn-sport-min:focus
{
  /*color: #ffffff;
  background-color: rgb(13,204,232);
  border-color: rgb(13,204,232);*/
}

.btn-sport-min:active,
.btn-sport-min.active,
.open .dropdown-toggle.btn-sport-min {
/*
  color: #ffffff;
  background-color: rgb(20,192,221);
  border-color: rgb(20,192,221);
  */
}
.btn-sport-min:active,
.btn-sport-min.active,
.open .dropdown-toggle.btn-sport-min {
  background-image: none;
}
.btn-sport-min.disabled,
.btn-sport-min[disabled],
fieldset[disabled] .btn-sport-min,
.btn-sport-min.disabled:hover,
.btn-sport-min[disabled]:hover,
fieldset[disabled] .btn-sport-min:hover,
.btn-sport-min.disabled:focus,
.btn-sport-min[disabled]:focus,
fieldset[disabled] .btn-sport-min:focus,
.btn-sport-min.disabled:active,
.btn-sport-min[disabled]:active,
fieldset[disabled] .btn-sport-min:active,
.btn-sport-min.disabled.active,
.btn-sport-min[disabled].active,
fieldset[disabled] .btn-sport-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-sport-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-gastronomie-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-gastronomie-min:hover,
.btn-gastronomie-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(99,56,22);
  border-color: rgb(99,56,22); */
}

.btn-gastronomie-min:active,
.btn-gastronomie-min.active,
.open .dropdown-toggle.btn-gastronomie-min {
	/*
  color: #ffffff;
  background-color: rgb(86,50,25);
  border-color: rgb(86,50,25);
  font-weight:bold; */
}
.btn-gastronomie-min:active,
.btn-gastronomie-min.active,
.open .dropdown-toggle.btn-gastronomie-min {
  background-image: none;
}
.btn-gastronomie-min.disabled,
.btn-gastronomie-min[disabled],
fieldset[disabled] .btn-gastronomie-min,
.btn-gastronomie-min.disabled:hover,
.btn-gastronomie-min[disabled]:hover,
fieldset[disabled] .btn-gastronomie-min:hover,
.btn-gastronomie-min.disabled:focus,
.btn-gastronomie-min[disabled]:focus,
fieldset[disabled] .btn-gastronomie-min:focus,
.btn-gastronomie-min.disabled:active,
.btn-gastronomie-min[disabled]:active,
fieldset[disabled] .btn-gastronomie-min:active,
.btn-gastronomie-min.disabled.active,
.btn-gastronomie-min[disabled].active,
fieldset[disabled] .btn-gastronomie-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-gastronomie-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-musique-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-musique-min:hover,
.btn-musique-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(207,29,5);
  border-color: rgb(207,29,5); */
}

.btn-musique-min:active,
.btn-musique-min.active,
.open .dropdown-toggle.btn-musique-min {
	/*
  color: #ffffff;
  background-color: rgb(193,27,10);
  border-color: rgb(193,27,10);
  font-weight:bold;
  */
}
.btn-musique-min:active,
.btn-musique-min.active,
.open .dropdown-toggle.btn-musique-min {
  background-image: none;
}
.btn-musique-min.disabled,
.btn-musique-min[disabled],
fieldset[disabled] .btn-musique-min,
.btn-musique-min.disabled:hover,
.btn-musique-min[disabled]:hover,
fieldset[disabled] .btn-musique-min:hover,
.btn-musique-min.disabled:focus,
.btn-musique-min[disabled]:focus,
fieldset[disabled] .btn-musique-min:focus,
.btn-musique-min.disabled:active,
.btn-musique-min[disabled]:active,
fieldset[disabled] .btn-musique-min:active,
.btn-musique-min.disabled.active,
.btn-musique-min[disabled].active,
fieldset[disabled] .btn-musique-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-musique-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-mode-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-mode-min:hover,
.btn-mode-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(240,74,124);
  border-color: rgb(240,74,124); */
}

.btn-mode-min:active,
.btn-mode-min.active,
.open .dropdown-toggle.btn-mode-min {
	/*
  color: #ffffff;
  background-color: rgb(234,54,114);
  border-color: rgb(234,54,114);
  font-weight:bold;
  */
}
.btn-mode-min:active,
.btn-mode-min.active,
.open .dropdown-toggle.btn-mode-min {
  background-image: none;
}
.btn-mode-min.disabled,
.btn-mode-min[disabled],
fieldset[disabled] .btn-mode-min,
.btn-mode-min.disabled:hover,
.btn-mode-min[disabled]:hover,
fieldset[disabled] .btn-mode-min:hover,
.btn-mode-min.disabled:focus,
.btn-mode-min[disabled]:focus,
fieldset[disabled] .btn-mode-min:focus,
.btn-mode-min.disabled:active,
.btn-mode-min[disabled]:active,
fieldset[disabled] .btn-mode-min:active,
.btn-mode-min.disabled.active,
.btn-mode-min[disabled].active,
fieldset[disabled] .btn-mode-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-mode-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-voyage-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-voyage-min:hover,
.btn-voyage-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(159,204,49);
  border-color: rgb(159,204,49);
  */
}

.btn-voyage-min:active,
.btn-voyage-min.active,
.open .dropdown-toggle.btn-voyage-min {
	/*
  color: #ffffff;
  background-color: rgb(156,191,46);
  border-color: rgb(156,191,46);
  font-weight:bold;
  */
}
.btn-voyage-min:active,
.btn-voyage-min.active,
.open .dropdown-toggle.btn-voyage-min {
  background-image: none;
}
.btn-voyage-min.disabled,
.btn-voyage-min[disabled],
fieldset[disabled] .btn-voyage-min,
.btn-voyage-min.disabled:hover,
.btn-voyage-min[disabled]:hover,
fieldset[disabled] .btn-voyage-min:hover,
.btn-voyage-min.disabled:focus,
.btn-voyage-min[disabled]:focus,
fieldset[disabled] .btn-voyage-min:focus,
.btn-voyage-min.disabled:active,
.btn-voyage-min[disabled]:active,
fieldset[disabled] .btn-voyage-min:active,
.btn-voyage-min.disabled.active,
.btn-voyage-min[disabled].active,
fieldset[disabled] .btn-voyage-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-voyage-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-gaming-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-gaming-min:hover,
.btn-gaming-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(255,185,1);
  border-color: rgb(255,185,1);
  */
}

.btn-gaming-min:active,
.btn-gaming-min.active,
.open .dropdown-toggle.btn-gaming-min {
	/*
  color: #ffffff;
  background-color: rgb(244,169,3);
  border-color: rgb(244,169,3);
  font-weight:bold;
  */
}
.btn-gaming-min:active,
.btn-gaming-min.active,
.open .dropdown-toggle.btn-gaming-min {
  background-image: none;
}
.btn-gaming-min.disabled,
.btn-gaming-min[disabled],
fieldset[disabled] .btn-gaming-min,
.btn-gaming-min.disabled:hover,
.btn-gaming-min[disabled]:hover,
fieldset[disabled] .btn-gaming-min:hover,
.btn-gaming-min.disabled:focus,
.btn-gaming-min[disabled]:focus,
fieldset[disabled] .btn-gaming-min:focus,
.btn-gaming-min.disabled:active,
.btn-gaming-min[disabled]:active,
fieldset[disabled] .btn-gaming-min:active,
.btn-gaming-min.disabled.active,
.btn-gaming-min[disabled].active,
fieldset[disabled] .btn-gaming-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-gaming-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-culture-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-culture-min:hover,
.btn-culture-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(118,107,103);
  border-color: rgb(118,107,103);
  */
}

.btn-culture-min:active,
.btn-culture-min.active,
.open .dropdown-toggle.btn-culture-min {
	/*
  color: #ffffff;
  background-color: rgb(109,101,98);
  border-color: rgb(109,101,98);
  font-weight:bold;
  */
}
.btn-culture-min:active,
.btn-culture-min.active,
.open .dropdown-toggle.btn-culture-min {
  background-image: none;
}
.btn-culture-min.disabled,
.btn-culture-min[disabled],
fieldset[disabled] .btn-culture-min,
.btn-culture-min.disabled:hover,
.btn-culture-min[disabled]:hover,
fieldset[disabled] .btn-culture-min:hover,
.btn-culture-min.disabled:focus,
.btn-culture-min[disabled]:focus,
fieldset[disabled] .btn-culture-min:focus,
.btn-culture-min.disabled:active,
.btn-culture-min[disabled]:active,
fieldset[disabled] .btn-culture-min:active,
.btn-culture-min.disabled.active,
.btn-culture-min[disabled].active,
fieldset[disabled] .btn-culture-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-culture-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-jeu-table-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-jeu-table-min:hover,
.btn-jeu-table-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(102,45,145);
  border-color: rgb(102,45,145);
  */
}

.btn-jeu-table-min:active,
.btn-jeu-table-min.active,
.open .dropdown-toggle.btn-jeu-table-min {
	/*
  color: #ffffff;
  background-color: rgb(87,45,132);
  border-color: rgb(87,45,132);
  font-weight:bold; */
}
.btn-jeu-table-min:active,
.btn-jeu-table-min.active,
.open .dropdown-toggle.btn-jeu-table-min {
  background-image: none;
}
.btn-jeu-table-min.disabled,
.btn-jeu-table-min[disabled],
fieldset[disabled] .btn-jeu-table-min,
.btn-jeu-table-min.disabled:hover,
.btn-jeu-table-min[disabled]:hover,
fieldset[disabled] .btn-jeu-table-min:hover,
.btn-jeu-table-min.disabled:focus,
.btn-jeu-table-min[disabled]:focus,
fieldset[disabled] .btn-jeu-table-min:focus,
.btn-jeu-table-min.disabled:active,
.btn-jeu-table-min[disabled]:active,
fieldset[disabled] .btn-jeu-table-min:active,
.btn-jeu-table-min.disabled.active,
.btn-jeu-table-min[disabled].active,
fieldset[disabled] .btn-jeu-table-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-jeu-table-min .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-plus-min {
  color: #ffffff;
  background-color: rgb(247,247,247);
  border-color: rgb(247,247,247);
}


.btn-plus-min:hover,
.btn-plus-min:focus
{
	/*
  color: #ffffff;
  background-color: rgb(198,156,109);
  border-color: rgb(198,156,109);
  */
}

.btn-plus-min:active,
.btn-plus-min.active,
.open .dropdown-toggle.btn-plus-min {
	/*
  color: #ffffff;
  background-color: rgb(183,142,101);
  border-color: rgb(183,142,101);
  font-weight:bold;
  */
}
.btn-plus-min:active,
.btn-plus-min.active,
.open .dropdown-toggle.btn-plus-min {
  background-image: none;
}
.btn-plus-min.disabled,
.btn-plus-min[disabled],
fieldset[disabled] .btn-plus-min,
.btn-plus-min.disabled:hover,
.btn-plus-min[disabled]:hover,
fieldset[disabled] .btn-plus-min:hover,
.btn-plus-min.disabled:focus,
.btn-plus-min[disabled]:focus,
fieldset[disabled] .btn-plus-min:focus,
.btn-plus-min.disabled:active,
.btn-plus-min[disabled]:active,
fieldset[disabled] .btn-plus-min:active,
.btn-plus-min.disabled.active,
.btn-plus-min[disabled].active,
fieldset[disabled] .btn-plus-min.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-plus-min .badge {
  color: #428bca;
  background-color: #ffffff;
}


.icon-leftlist{
	margin-left:15px;
}

.head-text-mid2{
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	padding-right: 8px;
	text-overflow: ellipsis;
	vertical-align: initial;
	white-space: nowrap;
	line-height:1;
}


.head-text-mid3{
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	padding-left:15px;
	text-overflow: ellipsis;
	vertical-align: initial;
	white-space: nowrap;
	color: rgb(110,110,110);
	width:100%;
}

.sport-text{
}

.sport-text:hover{
	color: rgb(13,204,232);
}

.sport-text:active{
	color: rgb(20,192,221);
}

.gastronomie-text{
}

.gastronomie-text:hover{
	color: rgb(99,56,22);
}

.gastronomie-text:active{
	color: rgb(86,50,25);
}

.musique-text{
}

.musique-text:hover{
	color: rgb(207,29,5);
}

.musique-text:active{
	color: rgb(193,27,10);
}

.mode-text{
}

.mode-text:hover{
	color: rgb(240,74,124);
}

.mode-text:active{
	color: rgb(234,54,114);
}

.voyage-text{
}

.voyage-text:hover{
	color: rgb(159,204,49);
}

.voyage-text:active{
	color: rgb(156,191,46);
}

.gaming-text{
}

.gaming-text:hover{
	color: rgb(255,185,1);
}

.gaming-text:active{
	color: rgb(244,169,3);
}

.culture-text{
}

.culture-text:hover{
	color: rgb(118,107,103);
}

.culture-text:active{
	color: rgb(109,101,98);
}

.jeu-table-text{
}

.jeu-table-text:hover{
	color: rgb(102,45,145);
}

.jeu-table-text:active{
	color: rgb(87,45,132);
}

.plus-text{
}

.plus-text:hover{
	color: rgb(198,156,109);
}

.plus-text:active{
	color: rgb(183,143,101);
}

.center{
	width:500px;
	float:left;
}

#email_inscrit{
	width:323px;
	height:22px;
	display: inline-block;
	margin-bottom:4px;
}

#email_inscrit1{
	width:295px;
	height:22px;
	display: inline-block;
	margin-bottom:4px;	
	font-size: 12px;
}

#email_inscrit_confirmation{
	width:295px;
	height:22px;
	display: inline-block;
	margin-bottom:16px;
	font-size: 12px;
}

#btn_left{
	width:100px;
	height:24px;
	font-size:12px;
	padding:2px 0 0 0;
}

#text_forget_mdp{
	font-size:12px;
	color:rgb(41,171,226);
}

#text_forget_mdp:hover{
	text-decoration:underline;
}

#text_create_compte{
	font-size:12px;
	color:rgb(235,101,49);
}

#text_create_compte:hover{
	text-decoration:underline;
}

#content_info_perso{
	padding:18px 10px 14px 24px;
	text-align: left;
}

#btn_inscrit4_valide{
	width:152px;
	height:24px;
	font-size:12px;
	padding:2px 0 0 0;
	margin:0 10px 18px 4px;
}

#btn_inscrit4_retour{
	width:62px;
	height:24px;
	font-size:12px;
	padding:2px 0 0 0;
	margin:0 4px 18px 242px;
	background-color: rgb(50,40,38);
  	border-color: rgb(38,31,30);
}

#inscrit5_text1{
	padding: 27px 0;
}

#inscrit5_text2{
	color: rgb(235,101,49);
	padding: 27px 0 16px 0;
}

#inscrit5_text3{
	color: rgb(134,134,134);
	padding: 0 0 27px 0;
}

#inscrit5_email{
	background-color: rgb(204,204,204);
	cursor: text;
}

#inscrit6_text1{
	color:rgb(50,40,38);
	padding: 27px 0;
}

#inscrit6_text2{
	color:rgb(50,40,38);
	padding: 0 0 27px 0;
}

#inscrit6_text3{
	color: rgb(235,101,49);
}

#head-brown{
	background-color:rgb(50,40,38);
	height:40px;
}

#head-orange{
	background-color:rgb(235,101,49);
	height:5px;
}

#select-search{
	padding: 1px 5px;
	font-size: 12px;
	height: 24px;
	width: 50px;
}

#input-searchbar{
	height: 24px;
	width: 120px;
	font-size: 12px;
	border: none;
}

#btn-search{
	width:30px;
	height:24px;
	padding:1px;
	background-color: rgb(204,204,204);
	border-color: rgb(204,204,204);
	border-radius: 0px 2px 2px 0px;
}
#btn-perso{
	margin-top: 8px;
	width: 15px;
	height: 24px;
	border-radius: 0px 2px 2px 0px;
	padding: 0px;
	border-color: transparent;
}

#avatar-arrow{
	margin-bottom: 4px;
}

#input-btn-1{
	border-radius: 2px 0px 0px 2px;
}

#icon-creer-activite-color1{
	color: rgb(235,101,49);
}

#icon-agenda-menu-color1{
	color: rgb(235,101,49);
}

#icon-discussion-menu-color1{
	color: rgb(235,101,49);
}

#icon-calendrier-color1{
	color: rgb(235,101,49);
}

#icon-contacts-menu-color1{
	color: rgb(235,101,49);
}

#icon-point-vip-color1{
	color: rgb(235,101,49);
}

#icon-ajouter-ami-color1{
	color: rgb(235,101,49);
}

#icon-info-color1{
	color: rgb(235,101,49);
}

#icon-parametre-color1{
	color: rgb(235,101,49);
}

#icon-deco-color1{
	color: rgb(235,101,49);
}

#icon-star-note-color1{
	color: rgb(235,101,49);
}

#icon-star-note-color2{
	color: rgb(235,101,49);
}

#icon-star-note-color3{
	color: rgb(235,101,49);
}

#icon-star-note-color4{
	color: rgb(235,101,49);
}

#icon-star-note-color5{
	color: rgb(235,101,49);
}

#vip{
	display: block;
}

#nonvip{
	display: none;
}


#icon-leftlist-sport{
	font-size:17px;
}

#icon-leftlist-gastronomie{
	font-size:17px;
}

#icon-leftlist-musique{
	font-size:17px;
}

#icon-leftlist-mode{
	font-size:17px;
}

#icon-leftlist-voyage{
	font-size:17px;
}

#icon-leftlist-gaming{
	font-size:17px;
}

#icon-leftlist-culture{
	font-size:17px;
}

#icon-leftlist-jeu-table{
	font-size:17px;
}

#icon-leftlist-plus{
	font-size:17px;
}

