@CHARSET "UTF-8";
.leftpanel{
	width: 691px;
	display: inline-block;
	background-color: rgb(235,235,233);
}
.lp-inside{
	width: 682px;
	margin: 0px 3px 6px 6px;
	display: inline-block;
	background-color: rgb(255,255,255);
	border: transparent;
	border-radius: 2px;
}
.mon-compte-title{
	font-size: 14.4px;
	color: rgb(50,40,38);
	text-align: center;
	margin: 18px auto;
}
.mon-compte-hr{
	width: 97%;
	size: 2px;
	border: 0;
	border-top: 1px solid rgb(50,40,38);
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
.mon-compte-subtitle1{
	color: rgb(134,134,134);
	font-size: 14.4px;
	margin: 18px 20px;
	width: 200px;
}
.mon-compte-subtitle2{
	color: rgb(134,134,134);
	font-size: 14.4px;
	margin: 18px 20px 14px 20px;
}
.mon-compte-subtitle3{
	color: rgb(134,134,134);
	font-size: 14.4px;
	margin: 18px 20px 0px;
	width: 200px;
}
.mon-compte-subtitle4{
	color: rgb(235,101,49);
	font-size: 14.4px;
	margin: 14px 8px;
}
.mon-compte-input1{
	margin-left: 136px;
	display: -webkit-inline-box;
}
.mon-compte-input2{
	display: -webkit-inline-box;
	margin: 10px 190px;
	width: 100%;
}
.mon-compte-input3{
	display: -webkit-inline-box;
	width: 100%;
}
.margin2{
	margin-top: 18px;
}
.mon-compte-btn{
	text-align: center;
	margin: 24px auto 18px auto;
}
.mon-compte-btn2{
	text-align: center;
	margin: 14px auto 18px auto;
}
.mon-compte-btn-valide{
	display: inline;
	font-size: 14.4px;
	padding: 3px 12px;
}
.mon-compte-info-inline{
	display: -webkit-inline-box;
	width: 600px;
}
.mon-compte-info-output{
	margin: 20px auto 0px;
}
.mon-compte-link{
	color: rgb(20,192,221);
}
.mon-compte-link:hover{
	color: rgb(21,160,242);
}
#info-compte-link{
	padding-top: 20px;
	margin: auto;
}
.mon-compte-new-mdp{
	margin:10px auto;
	display: none;
}
#icon-new-mdp{
	display: none;
}
#icon-new-confirmation-mdp{
	display: none;
}
.mon-compte-delete-compte{
	margin-left: 310px;
}
.mon-compte-btn-select{
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14.4px;
	line-height: 1.4;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgb(134,134,134);
	border-color: #cccccc;
	height: 25px;
	width: 120px;
	margin: 0px 3px;
	background-color: rgb(255,255,255);
}
.mon-compte-select{
	text-align: center;
}
#btn-femme:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
	
}
#btn-homme:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}
#btn-couple:{
	width:120px;
}
#btn-couple:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}#btn-celibataire:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}#btn-non-renseigne:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}

/*------------------------------------------------------*/
.mon-compte-context{
	width: 94%;
	margin: 18px auto;
	color: rgb(134,134,134);
}
.mon-compte-context2{
	width: 94%;
	margin: 10px auto;
	color: rgb(235,101,49);
}
.mon-compte-explique{
	width: 94%;
	height: 124px;
	margin:18px auto;
}
.mon-compte-btn-delete-block{
	text-align: center;
	margin: 18px auto;
}
.mon-compte-btn-delete{
	width: 164px;
	height: 23px;
	font-size: 14.4px;
	padding: 1px 2px;
}
#btn-delete-no{
	background-color: rgb(134,134,134);
	border-color: rgb(134,134,134);
}
#btn-delete-no:hover{
	background-color: rgb(111,111,111);
	border-color: rgb(111,111,111);
}
.mon-compte-btn-activity{
	width: 60px;
	height: 23px;
	font-size: 14.4px;
	padding: 1px 2px;
}
#mon-compte-icon-add{
	top:2.5px;
	padding-right: 2px;
}
.icon-star-level::before{
	color: rgba(235,101,49,0.5);
}
.level-star{
	text-align: center;
	cursor: pointer;
}
.input-center{
	margin: 0 auto;
}
.mon-compte-partenaire{
	margin-left: 270px;
}
#ajoute-activite{
	display: none;
}
#mon-compte-notification{
	float: left;
}
.mon-compte-notification-block1{
	margin: 18px auto;
	float: left;
}
.mon-compte-notification1{
	margin: 0 20px;
}
.mon-compte-notification-block2{
	width: 100%;
	float: left;
	margin: 2px 20px;
}
.mon-compte-notification2{
	margin: 18px 0;
}
#notification-valide{
	float: left;
	width: 100%;
}
.mon-compte-panel{
	border: transparent;
	margin: 14px 20px;
}
.mon-compte-panel-heading{
	border: transparent;
	background-image: none;
	background-color: white;
	color: rgb(235,101,49);
}
.mon-compte-panel-title{
	
}
.mon-compte-question:hover{
	color: rgb(223,87,27);
}
.mon-compte-panel-bady{
	border: transparent;
	margin: 8px 0 0 0;
}
.mon-compte-faq-contact{
	margin: 14px 20px;
}
#mon-compte-code-parrain{
	width: 197px;
	height: 24px;
	margin: 0px auto;
}
.mon-compte-invite-ami-block{
	width: 100%;
}
.mon-compte-invite-img{
	width: 23px;
	height: 23px;
}
.mon-compte-invite-link{
	width: 100px;
	margin: 0 auto 14px auto;
}
.mon-compte-invite-text{
	text-align: center;
}
.icon-mon-compte-week-off::before{
	color: rgb(111,111,111);
	font-size: 20px;
	margin: 8px 8px;
}
.icon-mon-compte-week-on::before{
	color: rgb(235,101,49);
	font-size: 20px;
	margin: 8px 8px;
}
.mon-compte-week{
	float: left;
	cursor: pointer;
}
.mon-compte-select-week{
	overflow: hidden;
	margin-left: 215px;
	margin-right: auto;
	margin-bottom: 18px;
}
/*-----------------------------------------------------------------------------------*/
.motive-list-head{
	width:100%;
	overflow: hidden;
}
.ml-head-img-block{
	margin: 18px;
	float: left;
}
.ml-head-img{
	width: 120px;
	height: 120px;
	border-radius:60px;
	border: transparent;
}
.ml-head-info-block{
	margin-top: 18px;
	float: left;
}
.ml-head-star-note2::before{
	color: rgb(134,134,134);
	font-size: 12px;
}
.ml-head-star-note1::before{
	color: rgb(235,101,49);
	font-size: 12px;
}
.ml-body-star-note2::before{
	color: rgba(235,101,49,0.5);
	font-size: 12px;
}
.ml-body-star-note1::before{
	color: rgb(235,101,49);
	font-size: 12px;
}

.ml-head-name{
	color: rgb(50,40,38);
	font-size: 24px;
}
.ml-head-link{
	margin-right: 8px;
}
.ml-head-link-icon::before{
	color: rgb(134,134,134);
	font-size: 14.4px;
}
.ml-head-link-icon-click::before{
	color: rgb(235,101,49);
	font-size: 14.4px;
}
.ml-head-link-text{
	color: rgb(134,134,134);
	font-size: 12px;
}
.fg-head-link:hover .ml-head-link-icon::before,
.fg-head-link:hover .ml-head-link-text,
.ml-head-link:hover .ml-head-link-icon::before,
.ml-head-link:hover .ml-head-link-text{
	color: rgb(235,101,49);
}
.ml-tab{
	width:25%;
	text-align: center;
}
.ml-tab-a{
	background-color: rgb(230,230,230);
	color: rgb(134,134,134);
	font-size: 14.4px;
}
.ml-body-item{
	overflow: hidden;
	border-bottom: solid;
	border-color: rgb(230,230,230);
	border-width: 1px;
}
.ml-body-item2{
	overflow: hidden;
}
.ml-body-motive,
.ml-body-groupe,
.ml-body-activite{
	padding: 10px;
	background-color: rgb(255,255,255);
}
.ml-body-img{
	width: 60px;
	height: 60px;
	border: transparent;
	border-radius: 30px;
}
.ml-body-img-block{
	margin: 8px;
	float: left;
}
.ml-body-info-block{
	margin: 8px;
	float: left;
	width: 210px;
}
.ml-body-info-link{
	color: rgb(134,134,134);
	font-size: 10px;
}
.ml-body-info-link:hover{
	color: rgb(235,101,49);
}
.ml-body-declaration-block{
	float: left;
	width: 350px;
	height: 76px;
	display: table;
}
.ml-body-button-block{
	float: left;
	margin: 2px auto 8px 30px;
}
.ml-body-button{
	text-shadow: none;
	font-size: 12px;
	border: transparent;
	background-color: rgb(179,179,179);
	color: rgb(255,255,255);
	width: 68px;
	height: 17px;
	padding: 0.7px 12px;
	margin-top: -10px;
	display: inline;
}
.ml-body-button:hover,
.ml-body-button:active{
	background-color: rgb(235,101,49);
	color: rgb(255,255,255);
}
.ml-body-button:focus{
	background-color: rgb(235,101,49);
	color: rgb(255,255,255);
}
.ml-body-button-div1,
.ml-body-button-div2{
	height: 17px;
    margin-bottom: 4.5px;
}
.ml-body-button-div3{ 
	height: 17px;
}
.ml-body-declaration{
	vertical-align: middle;
	display: table-cell;
}
.ml-body-button-icon::before{
	color: rgb(255,255,255);
	font-size: 10px;
}
.ml-body-button-icon{
	top:2.5px;
	padding-right: 2px;
}
.ml-body-button-ajoute{
	padding: 0.7px 14px;
}
.ml-body-button-activite{
	padding: 0.7px 14.25px;
}
.ml-body-encourage-profil{
	float: left;
	font-size: 14.4px;
	padding: 30px 0 0;
	color: rgb(13,204,232);
}
.ml-body-encourage-profil:hover{
	color: rgb(20,192,221);	
}
.ml-body-arrow{
	text-align: center;
}
.ml-body-arrow-down{
	text-align: center;
	display: block;
}
.ml-body-arrow-up{
	text-align: center;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	margin-bottom: -5px;
	margin-top: 5px;
}
.ml-body-link{
	cursor: pointer;
	display: block;
}
.ml-body-button-contacter{
	padding: 0.7px 8px;
}
.ml-body-button-rejoindre{
	padding: 0.7px 8px;
}
.mon-compte-btn-propose{
	display: inline-block;
	font-size: 14.4px;
	padding: 7px 10px 1px 10px;
	height: 37px;
}
.ml-body-btn-propose-block{
	margin: 8px 8px 10px -10px;
	background-color: rgb(240,240,240);
	height: 52px;
	text-align: center;
	width: 682px;
	padding-top: 9px;
}
.ml-body-img2{
	width: 32px;
	height: 32px;
	border: transparent;
	border-radius: 16px;
}
.ml-body-info-block-line1{
	margin-top: -5px;
}
.ml-body-event-block{
	float: left;
	font-size: 14.4px;
	color: rgb(134,134,134);
	margin: 15px 10px auto 10px;
	width: 120px;
}
.ml-body-temps-block{
	float: left;
	margin: 5px 10px auto 10px;
	width: 110px;
}
.ml-body-participants-block{
	font-size: 14.4px;
	color: rgb(134,134,134);
	float: left;
	margin: 15px 10px auto 10px;
	width: 65px;
}
.ml-body-arrow-block{
	float: left;
	cursor: pointer;
}
.float-arrow-down{
	margin: 10px;
}
.float-arrow-up{
	margin: 15px 10px 10px 10px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.ml-activity-brief{
	overflow: hidden;
}
.ml-activity-modif{
	margin: 14px auto 14px 20px;
}
.ml-activity-link-icon::before{
	color: rgb(13,204,232);
	font-size: 12px;
}
.ml-activity-link-text{
	font-size: 12px;
	color: rgb(13,204,232); 
}
.ml-activity-context{
	margin: 14px 8px;
}
.ml-activity-maps{
    width:250px;
    height:150px;
    margin-left: auto;
	margin-right: auto;
}
.ml-activity-maps-block{
	overflow: hidden;
}
.ml-activity-adresse{
	text-align: center;
	margin-top: 14px;
}
.ml-activity-adresse-text{
	text-align: center;
}
.ml-activity-window{
	border-bottom:1px solid rgb(179,179,179);
	border-top:1px solid rgb(179,179,179);
	height:250px;
	overflow:auto;
	padding-top:2px;
}
.ml-activity-participants,
.ml-activity-comments{
	overflow: hidden;
	border-bottom: solid 1px;
	border-color: rgb(230,230,230);
}
.ml-activity-participants-info1{
	float: left;
	margin-left: 2px;
	margin-top: 11px;
}
.ml-activity-participants-info2{
	float: left;
	margin-left: 2px;
	margin-top: 16px;
}
.ml-activity-participants-info3{
	float: left;
	margin-left: 2px;
	margin-top: 12px;
	width: 180px;
}
.ml-activity-participants-info-left{
	width: 250px;
	overflow: hidden;
	float: left;
}
.ml-activity-participants-note{
	float: left;
	margin: 10px auto auto 20px;
}
.ml-activity-detail-btn{
	text-align: center;
	margin: 14px;
}
.ml-body-comments-date{
	float: right;
	margin: 8px 18px;
	text-align: right;
}
.ml-activity-comments-context{
	margin: 0px 18px 8px 8px;
	float: left;
}
.ml-activity-comments-user{
	overflow: hidden;
}
.mon-compte-comment{
	width: 85%;
	height: 26px;
	float: left;
	padding: 1px 12px;
}
#ml-btn-comment{
	width: 15%;
	height: 35px;
	float: left;
	background-color: rgb(134,134,134);
	color: rgb(255,255,255);
	text-shadow: none;
}
.ml-comment-block{
	overflow: hidden;
	margin: 5px auto 18px;
}
.ml-activity-arrow{
	text-align: center;
	margin-bottom: 8px;
}

/*------------------------------------------------------------------------------------------*/
.mon-activity-head-block{
	width:100%;
	height:50px;
	text-align: center;
}
.mon-activity-head{
	padding: 15px 0;
}
.mon-activity-subhead-block{
	width: 100%;
	height: 31px;
	background-color: rgb(245,245,245);
	border-bottom: solid rgb(255,255,255);
}
.mon-activity-subhead-ul{
	text-align: center;
	margin-left: -40px;
}
.mon-activity-subhead-li{
	display: inline-block;
	padding: 8px 15px;
}
.mon-activity-body{
	display: inline-block;
	width: 100%;
	background-color: rgb(245,245,245);
}
.mon-activity-subtitle1{
	color: rgb(235,101,49);
	font-size: 14.4px;
	margin: 10px 20px 14px 20px;
}
.mon-activity-subtitle2{
	color: rgb(235,101,49);
	font-size: 14.4px;
	margin: 18px 20px 14px 20px;
}
.mon-activity-body-center{
	text-align: center;
}
.mon-activity-radio{
	margin: 0px;
	float: left;
	width: 50%;
}
.mon-activity-container{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.mon-activity-select-mod{
	margin: auto;
	width: 100%;
	padding: 1px 12px;
	height: 24px;
	color: rgb(134,134,134);
	margin: 2px auto 14px;
}
#ma-button-orange1,
#ma-button-orange2,
#ma-button-orange3{
	background-color: rgb(235,101,49);
	border: transparent;
	text-shadow: none;
	color: rgb(255,255,255);
	margin-right: 20px;
	margin-left: 10px;
}
#ma-button-grey1,
#ma-button-grey2,
#ma-button-grey3{
	background-color: rgb(153,153,153);
	border: transparent;
	text-shadow: none;
	color: rgb(255,255,255);
}
#proposition{
	float: left;
	width: 60%;
}
#proposition-optionnelle{
	float: left;
	color: rgb(134,134,134);
}
.ma-proposition-title-block{
	overflow: hidden;
}
.ma-proposition-block{
	overflow: hidden;
	font-size: 14.4px;
	margin: -8px 20px 14px;
	color: rgb(134,134,134);
}
.ma-icon-supprimer::before{
	color: rgb(134,134,134);
	font-size: 15px;
}
.ma-proposition-text{
	float: left;
	width: 33%;
}
#ma-proposition1_1,
#ma-proposition2_1{
	float: left;
	width: 33%;
}
#ma-proposition1_2,
#ma-proposition2_2{
	float: left;
	width: 20%;
	margin: auto 20px auto 10px;
}
.ma-maps-search-block{
	overflow: hidden;
	margin: 5px 20px 8px;
}
#ma-btn-comment{
	width: 15%;
	height: 24px;
	float: left;
	background-color: rgb(134,134,134);
	color: rgb(255,255,255);
	padding: 0px;
	text-shadow: none;
}
#ma-comment{
	height: 24px;
}
.ma-maps{
	width:250px;
    height:150px;
    margin-left: auto;
	margin-right: auto;
}
.ma-num-participants{
	margin: 0px 40px 14px;
	overflow: hidden;
}
.ma-num-participant-radio{
	float: left;
	margin-right: 5px;
}
.ma-num-participant-select{
	float: left;
	width: 10%;
	margin: auto 10px;
}
.ma-num-participant-select2{
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}
.ma-num-participant-text{
	float: left;
	margin: auto auto auto 20px;
	margin-right: 5px;
}
.ma-margin{
	margin: 0 20px;
}
.ma-icon-contact::before{
	color: rgb(204,204,204);
	font-size: 20px;
}
.ma-icon-contact:hover::before{
	color: rgb(134,134,134);
}
.ma-icon-contact:active::before{
	color: rgb(235,101,49);
}
.ma-liste-proposition{
	float: left;
	margin-top: 15px;
	margin-left: 230px;
}
.ma-proposition{
	overflow: hidden;
	border-bottom: solid 1px;
	border-color: rgb(204,204,204);
	margin: 0 10px;
}
#proposition-ajoute{
	float: left;
	width: 45%;
}
#ma-proposition-ajoute{
	height: 24px;
	float: left;
	border-radius: 2px 0 0 2px;
}
.ma-proposition-ajoute-block{
	margin: 18px 20px 14px 20px;
	float: left;
	overflow: hidden;
	width: 40%;
	display: table-cell;
}
#ma-btn-proposition-ajoute{
	height: 24px;
	float: left;
	background-color: rgb(134,134,134);
	color: rgb(255,255,255);
	padding: 0px 1px;;
	text-shadow: none;
}
#ma-groupe-select{
	width: 40%;
	margin-left: 20px;
}
.ma-email-input{
	width: 40%;
	height: 24px;
	margin: 8px auto 0px 20px;
	float: left;
}
.ma-email-icon-block{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.ma-icon-valider::before{
	color: rgb(235,101,49);
	font-size: 20px;
}
.ma-email-block{
	overflow: hidden;
}
#ma-link{
	color: rgb(13,204,232);
	font-size: 13px;
	text-decoration: underline;
}
#ma-link:hover{
	color: rgb(20,192,221);
}
#ma-btn-copy-link{
	background-color: rgb(235,101,49);
	color: rgb(255,255,255);
	margin-left: 20px;
	text-shadow: none;
}
.ma-link-block{
	margin: auto auto 10px 20px;
}
.ma-notification{
	margin: 0 0 0 40px;
}
/*----------------------------------------------------------------------------------*/
.fg-head-name{
	color: 	rgb(235,101,49);
	font-size: 24px;
}
.fg-icon-female::before,
.fg-icon-male::before{
	color: rgb(134,134,134);
	font-size: 14px;
}
.fg-head-link{
	margin-right: 12px;
}
.fg-icon-star-on::before{
	color: rgb(235,101,49);
	font-size: 12px;
}
.fg-icon-star-off::before{
	color: rgba(235,101,49,0.5);
	font-size: 12px;
}
.fg-head-button-block{
	float: left;
	margin-top: 18px;
}
.fg-body-button{
	text-shadow: none;
	font-size: 12px;
	border: transparent;
	background-color: rgb(179,179,179);
	color: rgb(255,255,255);
	padding: 6px 12px;
	display: inline;
}
.fg-body-button2{
	text-shadow: none;
	font-size: 12px;
	border: transparent;
	background-color: rgb(179,179,179);
	color: rgb(255,255,255);
	padding: 6px 12px;
	display: inline;
	padding-top: 7px;
}
.fg-body-button:hover{
	background-color: rgb(235,101,49);
	color: rgb(255,255,255);
}
.fg-body-button2:hover,
.fg-body-button2:active,
.fg-body-button2:focus{
	background-color: rgb(235,101,49);
	color: rgb(255,255,255);
}
.fg-head-button{
	margin-bottom: 15px;
}
.fg-head-button2{
	margin-bottom: 11px;
}
.fg-tab{
	width: 20%;
	text-align: center;
}
.fg-item-date{
	float: left;
	margin: 16px 20px auto 40px;
	width: 110px;
}
.fg-item-number{
	float: left;
	margin: 16px 5px auto 0;
	width: 110px;
}
.fg-item-arrow{
	margin: 12px auto auto 25px;
	float: left;
	cursor: pointer;
}
.fg-page{
	color: rgb(134,134,134);
}
.fg-page:hover{
	color: rgb(235,101,49);
}
.fg-activity-page-block{
	overflow: hidden;
	margin: 10px 15px;
}
.fg-page-count{
	float: left;
	margin-right: 15px;
	width: 80px;
}
.fg-page-chose{
	float: left;
	margin-right: 230px;
	width: 200px;
}
.fg-page-change{
	float: left;
}
.fg-comment-window{
	height: 76px;
	overflow: auto;
	padding: 5px 10px;
	border: transparent;
	border-radius: 2px;
	background-color: rgb(255,255,255);
}
.fg-write-comment-block{
	overflow: hidden;
	margin: 5px auto 30px;
}
.fg-comment-head{
	overflow: hidden;
}
.fg-comment-head-image{
	float: left;
}
.fg-comment-head-info{
	float: left;
	margin-left: 10px;
	width: 120px;
}
.fg-comment-head-pp{
	float: left;
	margin-left: 400px;
	padding-top: 8px;
}
.fg-comment-head-img{
	width: 32px;
	height: 32px;
	border: transparent;
	border-radius: 16px;
}
.fg-comment-block{
	margin-bottom: 10px;
}
.fg-comment-other{
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 30px;
}
.fg-chat-head-info{
	float: left;
	margin-left: 10px;
	padding-top: 8px;
	width: 100px;
}
.fg-chat-head-date{
	float: left;
	margin-left: 380px;
	padding-top: 8px;
}
.fg-chat-context{
	margin: 5px 0;
	width: 450px;
}
.fg-presentation-description{
	margin: auto 20px 18px;
}
.fg-musique-star-on::before{
	color: rgb(207,29,5);
	font-size: 14px;
}
.fg-musique-star-off::before{
	color: rgba(207,29,5,0.5);
	font-size: 14px;
}
.fg-musique-level-block{
	border: solid rgb(207,29,5);
	border-radius: 2px;
	padding: 1px 2px;
	float: left;
	border-width: thin;
}
.fg-presentation-info-block{
	margin: auto 20px; 
	overflow: hidden;
}
.date-on{
	font-size: 14.4px;
	color: rgb(235,101,49);
}
.date-off{
	font-size: 14.4px;
	color: rgb(134,134,134);
}
.fg-info-date{
	float: left;
	margin: 3px;
}
.fg-presentation-context{
	margin: 14px 20px 18px;
}
.fg-body-item{
	overflow: hidden;
	border-bottom: solid;
	border-color: rgb(255,255,255);
	margin-top: 14px;
}
.fg-musique-title{
	font-size: 17.72px;
	color: rgb(207,29,5);
}
.fg-sport-title{
	font-size: 17.72px;
	color: rgb(13,204,232);
}
.fg-sport-level-block{
	border: solid rgb(13,204,232);
	border-radius: 2px;
	padding: 1px 2px;
	float: left;
	border-width: thin;
}
.fg-sport-star-on::before{
	color: rgb(13,204,232);
	font-size: 14px;
}
.fg-sport-star-off::before{
	color: rgba(13,204,232,0.5);
	font-size: 14px;
}
.mp-icon-couple::before{
	color: rgb(179,179,179);
	font-size: 12px;
}
.mp-icon-male::before{
	color: rgb(179,179,179);
	font-size: 12px;
}
.mp-title{
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 10px;
}
.mp-title-left{
	float: left;
	margin-left: 20px;
}
.mp-title-right{
	float: right;
	margin-right: 20px;
}
.mp-context{
	width: 100%;
	display: inline-block;
	background-color: rgb(245,245,245);
}
.mp-icon-pratique::before{
	color: rgb(134,134,134);
	font-size: 14px;
}
.mp-passion-left-icon{
	float: left;
	margin: 10px 10px 10px 0;
}
.mp-musique-level-block{
	border: solid rgb(207,29,5);
	border-radius: 2px;
	padding: 1px 2px;
	float: left;
	border-width: thin;
	margin: 10px auto;
}
.mp-sport-level-block{
	border: solid rgb(13,204,232);
	border-radius: 2px;
	padding: 1px 2px;
	float: left;
	border-width: thin;
	margin: 10px auto;
}
.mp-info-date{
	float: left;
	margin: 13px 3px;
}
.mp-passion-context{
	margin-left: 40px;
}
.mp-passion-info-left{
	float: left;
	overflow: hidden;
	width: 500px;
}
.mp-passion-arrow{
	margin: 25px auto auto 139px;
	float: left;
	cursor: pointer;
}
.mp-lg-img-block{
	margin: 13px;
	float: left;
}
.mp-lg-img{
	width: 40px;
	height: 40px;
	border: transparent;
	border-radius: 20px;
}
.mp-lg-icon::before{
	color: rgb(134,134,134);
	font-size: 12px;
}
.mp-lg-info-block{
	margin: 15px 8px 8px;
	float: left;
	width: 400px;
}
.mp-lg-button{
	margin: 19px auto auto 80px;
	float: left;
}
.fg-body-event-block{
	float: left;
	font-size: 14.4px;
	color: rgb(134,134,134);
	margin: 15px 10px auto 10px;
	width: 190px;
}
.ml-btn-right{
	float: right;
	margin: 10px 0 18px 0;
}
.left-head-text-mid{
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	padding-right: 8px;
	text-overflow: ellipsis;
	vertical-align: initial;
	white-space: nowrap;
	line-height: 1;
}
.left-head-text-mid2{
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: initial;
	white-space: nowrap;
	line-height: 1;
}
.left-head-text-mid3{
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: initial;
	white-space: nowrap;
	line-height: 1.2;
}
#ml-head-link-carte{
	margin-left: -4px;
}
#ml-head-link-carte-text{
	margin-left: -4px;
}
.fg-presentation-lieux{
	overflow: hidden;
}
.fg-lieux-item{
	overflow: hidden;
	margin-left: 10px;
}
.fh-presentation-img{
	width: 40px;
	height: 40px;
	border: transparent;
	border-radius: 20px;
}
.fg-prensentation-lieux-info-block{
	margin: 10px 8px;
	float: left;
}
.fg-prensentation-lieux-info{
	overflow: hidden;
	display: inline-block;
}
.fg-prensentation-lieux-icon{
	float: left;
}
.fg-prensentation-lieux-text{
	float: left;
	margin-top: -3px;
	display: block;
}
.btn-group2{
	position: absolute;
	display: inline-block;
	vertical-align: middle;
}
.fg-subwindow-head{
	background-color: rgb(50,40,38);
	overflow: hidden;
}
.fg-subwindow-head-title{
	color: rgb(255,255,255);
	padding: 6px 12px;
	float: left;
}
.gl-subwindow-head-remove{
	cursor: pointer;
	padding: 6px 12px;
	float: right;
}
.glyphicon-gl-remove::before{
	color: rgb(255,255,255);
	font-size: 14.4px;
}
.fg-subwindow-item1{
	overflow: hidden;
	border-bottom: solid;
	border-color: rgb(255,255,255);
	border-width: 1px;
	margin: 18px;
}
.fg-subwindow-foot{
	overflow: hidden;
	margin: auto 10px;
	border-top: solid rgb(245,245,245);
	border-width: 1px;
}
.fg-subwindow-btn-right{
	float: right;
	margin: 10px 0 10px 0;
}
.fg-subwindow-btn-orange,
.fg-subwindow-btn-orange:hover{
	background-color: rgb(235,101,49);
	border: transparent;
	text-shadow: none;
	color: rgb(255,255,255);
	margin-right: 20px;
	margin-left: 6px;
}
.fg-subwindow-btn-grey,
.fg-subwindow-btn-grey:hover{
	background-color: rgb(179,179,179);
	border: transparent;
	text-shadow: none;
	color: rgb(255,255,255);
}
.fg-subwindow-btn-grey:active{
	background-color: rgb(179,179,179);
	border: transparent;
	text-shadow: none;
	color: rgb(255,255,255);
}
.fg-subwindow-input-block{
	overflow: hidden;
}
.fg-subwindow-input-text{
	font-size: 14.4px;
	color: rgb(134,134,134);
	float: left;
	padding: 6px;
}
#fg-group-name{
	width: 250px;
	float: left;
	margin-left: 10px;
}
#subwindow-input-member{
	margin-left: 38px;
}
#fg-subwindow-create-group{
	margin: 18px 10px 0 10px;
	padding: 0px 8px 18px 8px;
	border-bottom: solid rgb(245,245,245);
	border-width: 1px;
}
.fg-subwindow-text-left{
	float: left;
	padding-left: 7px;
	padding-right: 20px;
}
.fg-subwindow-text-right{
	float: left;
	width: 75%;
}
.fg-subwindow-confidential-block{
	text-align: left;
	font-size: 14.4px;
	color: rgb(134,134,134);
	padding-right: 10px;
}
.fg-confidential-radio{
	float: left;
	margin: 5px 5px 0 0;
}
.fg-confidential-title{
	float: left;
	margin-left: 5px;
	font-weight: bold;
}
.fg-subwindow-confidential-head{
	overflow: hidden;
}
.fg-subwindow-confidential-body{
	padding-left: 20px;
	padding-bottom: 5px;
}
#confidential-public,
#confidential-privee-visible{
	border-bottom: solid rgb(245,245,245);
	border-width: 1px;
}
#subwindow-confidential-link:hover,
#subwindow-confidential-link:active{
	color: rgb(227,83,27);
	text-decoration: underline;
}
.fg-signaler-radio{
	font-size: 14.4px;
	color: rgb(134,134,134);
	margin: 8px 80px;
}
.fg-message-user-line{
	overflow: hidden;
	margin-top: 30px;
	margin-left: 10px;
}
.fg-message-user-block{
	overflow: hidden;
	float: left;
	width: 33%;
	padding-top: 10px;
}
.fg-message-user-info{
	float: left;
	margin-left: 8px;
	font-size: 14.4px;
	color: rgb(134,134,134);
}
.fg-subwindow-image{
	width: 32px;
	height: 32px;
	border: transparent;
	border-radius: 16px;
	margin-left: 5px;
	margin-top: -5px;
}
.fg-message-checkbox{
	float: left;
}
.fg-subwindow-window{
	border: 1px solid rgb(245,245,245);
	height: 250px;
	overflow: auto;
	padding-top: 2px;
}
.fg-subwindow-message-all-select{
	color: rgb(134,134,134);
	font-size: 14.4px;
	float: left;
	margin: 12px;
}
.ml-btn-filter{
	color: rgb(73,73,73);
	background-color: rgb(255,255,255);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#F1F1F1)); /** Chrome Safari **/
	background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1); /** FireFox **/
	background: -o-linear-gradient(top, #FFFFFF, #F1F1F1);  /** Opear **/
	background: -ms-linear-gradient(#FFFFFF 0%,#F1F1F1 100%);  /** IE9 IE10 **/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F1F1F1',grandientType=1); /** IE7 **/
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F1F1F1',grandientType=1); /** IE8 **/
	border-color: rgb(204,204,204);
	width: 85px;
	padding: 0px 5px 0px 12px;
	font-size: 14.4px;
	margin: 10px 8px;
	float: left;
	height: 26px;
}
.ml-btn-filter:hover,
.ml-btn-filter:focus,
.open .dropdown-toggle.ml-btn-filter {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#F1F1F1)); /** Chrome Safari **/
  background: -moz-linear-gradient(top, #F1F1F1, #F1F1F1); /** FireFox **/
  background: -o-linear-gradient(top, #F1F1F1, #F1F1F1);  /** Opear **/
  background: -ms-linear-gradient(#F1F1F1 0%,#F1F1F1 100%);  /** IE9 IE10 **/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#F1F1F1',grandientType=1); /** IE7 **/
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#F1F1F1',grandientType=1); /** IE8 **/
}
.ml-btn-filter:active,
.ml-btn-filter.active {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#FFFFFF)); /** Chrome Safari **/
	background: -moz-linear-gradient(top, #F1F1F1, #FFFFFF); /** FireFox **/
	background: -o-linear-gradient(top, #F1F1F1, #FFFFFF);  /** Opear **/
	background: -ms-linear-gradient(#F1F1F1 0%,#FFFFFF 100%);  /** IE9 IE10 **/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#FFFFFF',grandientType=1); /** IE7 **/
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#FFFFFF',grandientType=1); /** IE8 **/
	-webkit-box-shadow: none;
  	box-shadow: none;
}
.ml-icon-filter::before{
	font-size: 14.4px;
	color: rgb(73,73,73);
}
.ml-body-btn-filter-text{
	float: left;
	padding: 16px 5px;
}
.ml-head-btn-favoris-block{
	overflow: hidden;
	float: left;
	margin-left: 50px;
}
.ml-head-icon-star::before{
	color: rgb(73,73,73);
	font-size: 14.4px;
}
.ml-head-btn-favoris{
	color: rgb(73,73,73);
	background-color: rgb(245,245,245);
	border-color: rgb(204,204,204);
	width: 120px;
	padding: 3px 12px;
	font-size: 14.4px;
	margin: 10px 8px;
	float: left;
	height: 35px;
}
#ml-head-btn-favoris-text{
	line-height: 0.9;
}
.ml-head-icon-search::before{
	color: rgb(73,73,73);
	font-size: 14.4px;
}
.ml-body-btn-check{
	width: 27px;
	background-color: rgb(245,245,245);
	padding: 0;
	margin: 0;
}
.ml-body-btn-block{
	float: right;
	margin-right: 5px;
	margin-top: 10px;
}
.ml-head-note{
	float: left;
	width: 100%;
}
.ml-head-link-blue{
	float: left;
}
.ml-activity-head-info{
	overflow: hidden;
}
.ml-activity-head-left{
	float: left;
	width: 65%;
	margin-left: 20px;
}
.ml-activity-btn-right{
	width: 175px;
}
.ml-activity-btn-right-block{
	overflow: hidden;
}
.ml-activity-info{
	margin: 14px 0;	
}
.ml-activity-info1{
	margin: auto 20px;
	margin-top: 14px;
}
.ml-activity-info2{
	text-align: center;
	margin-top: 10px;
}
.ml-activity-head{
	margin-top: 14px;
	overflow: hidden;
}
.ml-activity-info2-link{
	margin: auto 5px;
}
.mp-activity-detail-left{
	float: left;
	margin-left: 10px;
}
.icon-ml-detail-info::before{
	font-size: 14.4px;
	color: rgb(134,134,134);
}
.ml-activity-detail-head-info{
	margin-left: 10px;
	margin-bottom: 14px;
}
.icon-ml-detail-info::before{
	color: rgb(134,134,134);
}
.ml-activity-detail-btn-block{
	background-color: rgb(240,240,240);
	height: 52px;
	width: 682px;
	margin-left: -10px;
	overflow: hidden;
}
.ml-btn-blcok-text-arrow{
	color: rgb(179,179,179);
	font-size: 14.4px;
}
.ml-btn-block-image{
	float: left;
	margin: 10px auto auto 190px;
}
.ml-btn-blcok-text{
	float: left;
	margin: 15px;
}
.ml-activity-detail-btn-participe{
	width: 150px;
}
.ml-btn-block-btn{
	margin-top: 8px;
}
.ml-head-note2{
	float: left;
}
.ml-detail-description{
	margin: 10px 20px;
}
.ml-detail-activity-head{
	margin-left: 20px;
}
.ml-detail-btn-group{
	overflow: hidden;
	background-color: rgb(240,240,240);
	height: 52px;
	width: 682px;
	margin-left: -10px;
}
.ml-detail-btn-group-orange{
	float: left;
	margin: 8px 10px 10px 30px;
}
.ml-detail-btn-group-grey{
	float: left;
	margin-top: 12px;
}
.ml-btn-group-grey{
	margin: 0px;
	width: 135px;
}
.ml-activity-groupe-icon{
	float: left;
	margin: 8px;
}
.ml-detail-return{
	text-align: center;
	margin-top: 10px;
}
#ml-activity-detail-btn-block1{
	overflow: hidden;
}
#ml-activity-detail-btn-block2{
	text-align: center;
}
.ml-detail-btn-parametre{
	color: rgb(73,73,73);
	background-color: rgb(245,245,245);
	border-color: rgb(204,204,204);
	width: 145px;
	padding: 3px 12px;
	font-size: 14.4px;
	margin: 10px 8px;
	float: none;
	height: 35px;
}
.ml-btn-envoyer{
	width: 15%;
	height: 26px;
	float: left;
	text-shadow: none;
	margin: 0;
}
.ml-head-link-block{
	float: left;
}
.ml-head-link-text-blue{
	color: rgb(13,204,232);
	font-size: 12px;
}
.ml-head-link-icon-blue:before{
	color: rgb(13,204,232);
	font-size: 14.4px;
}
.ml-head-link:hover .ml-head-link-blue,
.ml-head-link:hover .ml-head-link-icon-blue::before{
	color: rgb(20,192,221);
}
.mf-head{
	text-align: center;
	height: 33px;
	padding-top: 3px;
}
.mf-grey-div{
	background-color: rgb(235,235,233);
	width: 100%;
	height: 2px;
}
.mf-body-title{
	padding-top: 4px;
	padding-bottom: 8px;
	margin: 10px auto;
	text-align: center;
}
.mf-body-left{
	margin-left: 20px;
}
.mf-input{
	width: 40%;
	height: 24px;
	margin: 0px auto 0px 20px;
}
.mf-ville{
	float: left;
	width: 50%;
}
.mf-code{
	float: left;
	width: 50%;
}
.mf-input2{
	width: 80%;
	height: 24px;
	margin: 0px auto 0px 20px;
}
.mf-input3{
	width: 615px;
	height: 24px;
	margin: 0px auto 0px 20px;
}
.mf-input4{
	width: 615px;
	height: 46px;
	margin: 4px auto 4px 20px;
}
.mf-textarea1{
	width: 90%;
	min-height: 24px;
	margin: 0px auto 0px 20px;
	resize: none;
}
.mf-textarea2{
	width: 90%;
	min-height: 46px;
	margin: 4px auto 14px 20px;
	resize: none;
	overflow-y: hidden;
}
.mf-ville-code{
	overflow: hidden;
}
.mf-icon-supprimer::before{
	font-size: 14px;
	color: rgb(134,134,134);
	cursor: pointer;
}
.mf-horaire{
	color: rgb(134,134,134);
	font-size: 12px;
	margin-left: 20px;
}
.mf-horaire-ajouter{
	overflow: hidden;
	margin-left: 10px;
	margin-bottom: 4px;
}
.mf-horaire-ajouter-jour{
	float: left;
	margin-top: 20px;
}
.mf-horaire-select{
	width: 84px;
	margin: 14px 10px;
}
.mf-horaire-ajouter-1 {
	float: left;
}
.mf-btn-ajouter{
	padding: 1px 5px 0px 7px;
}
.mf-activity-block{
	overflow: hidden;
	margin-left: 20px;
}
.mf-activity-icon-block{
	float: left;
}
.mf-activity-item-block{
	float: left;
	width: 645px;
	margin-top: 6px;
}
.mf-horaire-hyphen{
	margin: -15px auto;
	text-align: center;
}
.mf-activity-ajouter-btn{
	float: right;
	margin-right: 40px;
}
.mf-horaire-ajouter-btn{
	overflow: hidden;
	padding-top: 25px;
}
.mf-activity{
	display: inline-block;
}
.mf-checkbox{
	margin-left: 20px;
}
.mf-univers-checkbox-row{
	width: 100%;
	overflow: hidden;
	margin-left: 20px;
	color: rgb(134,134,134);
	font-size: 14.4px;
}
.mf-univers-checkbox{
	float: left;
	width: 20%;
}
.btn-annuler1{
	display: inline-block;
	font-size: 14.4px;
	height: 26px;
	padding: 1px 6px;
}
.btn-valier1{
	padding: 6px 12px;
	height: 37px;
	width: auto;
	font-size: 14.4px;
	display: inline-block;
	margin: auto 6px;
}
.btn-right{
	float: right;
	margin-right: 41px;
	margin-top: 14px;
	margin-bottom: 18px;
}
/*---------------------------------------------*/
.ville-head-img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: transparent;
}
.ville-name{
	float: left;
	width: 328px;
	margin-top: 37px;
}
.ville-head-btn-favoris-block{
	overflow: hidden;
	float: left;
	margin-left: 70px;
	margin-top: 28px;
}
.ml-body-btn-filter-text2 {
	float: left;
 	padding: 16px 10px;
 }
 .category1{
 	background-color: rgb(255,255,255);
 }
 .ville-search {
	margin: 21px 20px 14px 20px;
	float: left;
	overflow: hidden;
	width: 40%;
	display: table-cell;
 }
 .ville-searchbar{
 	overflow: hidden;
 }
 .ville-univers,
 .ville-category{
 	float: left;
	margin: auto 10px;
 }
 .ville-head-icon::before{
 	color: rgb(134,134,134);
 }
 .ville-item-head{
	overflow: hidden;
	margin-top: 18px;
	border-bottom: solid;
	padding-bottom: 10px;
	border-color: rgb(179,179,179);
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
 }
 .ville-trier{
 	float: left;
	margin-left: 10px;
 }
 .ville-icon1{
 	float: left;
 	text-align: center;
 	width: 60px;
 }
 .ville-icon2 {
 	float: left;
 	text-align: center;
 	width: 180px;
 }
 .ville-icon3{
 	float: left;
 	text-align: center;
 	width: 110px;
 }
 .ville-icon4{
 	float: left;
 	text-align: center;
 	width: 70px;
 }
 .ville-trier-text{
 	float: left;
 }
 .ville-trier-select{
	float: left;
	width: 150px;
	padding: 1px 3px;
	margin: auto 5px;
 }
 .ville-trier-text{
 	float: left;
 	font-size: 14.4px;
 	color: rgb(134,134,134);
 	padding-top: 1px;
 }
 .vi-icon::before{
 	color: rgb(179,179,179);
 	font-size: 17.28px;
 } 
 .ville-item{
 	overflow: hidden;
 }
 .ville-item-icon{
 	float: left;
 	margin: 18px auto 18px 12px;
 }
 .ville-item-nom{
 	float: left;
 	margin: 18px 20px 18px 20px;
	width: 125px;
 }
 .ville-niveau-image{
 	display:block;
	width:30px;
    height:30px;
 }
 .niveau1{
 	background:url("../image/new-level-star.png") 0 0 no-repeat;
 }
  .niveau2{
 	background:url("../image/new-level-star.png") 0 -30px no-repeat;
 }
  .niveau3{
 	background:url("../image/new-level-star.png") 0 -60px no-repeat;
 }
  .niveau4{
 	background:url("../image/new-level-star.png") 0 -90px no-repeat;
 }
  .niveau5{
 	background:url("../image/new-level-star.png") 0 -120px no-repeat;
 }
 .ville-item-niveau{
 	float: left;
 	margin: 12px auto auto 22px;
 }
 .ville-item-user{
 	overflow: hidden;
 	width: 200px;
 	margin-left: 30px;
 	display: inline-block;
 }
 .ville-user-img{
 	margin: 12px auto auto 10px;
	float: left;
 }
 .ville-user-info{
	float: left;
	margin: 0px 10px;
 }
 .ville-item-info-detail{
 	margin-top: -3px;
 }