


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ovt23r');
	src:url('../fonts/icomoon.eot?#iefix-ovt23r') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ovt23r') format('woff'),
		url('../fonts/icomoon.ttf?-ovt23r') format('truetype'),
		url('../fonts/icomoon.svg?-ovt23r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:rgb(255,255,255);
	font-size:20px;
}

.icon-attention:before {
	content: "\e62c";
	color: rgb(134,134,134);
}
.icon-valider:before {
	content: "\e62b";
	color:rgb(235,101,49);
	font-size:13px;
}
.icon-activite:before {
	content: "\e629";
}
.icon-agenda-menu:before {
	content: "\e600";
}
.icon-ajouter-ami:before {
	content: "\e631";
}
.icon-association:before {
	content: "\e62a";
}
.icon-calendrier:before {
	content: "\e605";
}
.icon-contacts-menu:before {
	content: "\e601";
}
.icon-creer-activite:before {
	content: "\e624";
}
.icon-culture:before {
	content: "\e614";
}
.icon-deco:before {
	content: "\e60d";
}
.icon-discussion-menu:before {
	content: "\e625";
}
.icon-dupliquer:before {
	content: "\e602";
}
.icon-editer:before {
	content: "\e618";
}
.icon-elargir:before {
	content: "\e61e";
	color: rgb(204,204,204);
	font-size: 12px;
}
.icon-envoyer-mail:before {
	content: "\e604";
}
.icon-evenement:before {
	content: "\e607";
	font-size: 12px;
	color: rgb(134,134,134);
}
.icon-gaming:before {
	content: "\e613";
}
.icon-gastronomie:before {
	content: "\e617";
}
.icon-groupe:before {
	content: "\e623";
}
.icon-info:before {
	content: "\e60e";
}
.icon-jeu-table:before {
	content: "\e615";
}
.icon-liste:before {
	content: "\e61d";
}
.icon-menu:before {
	content: "\e61a";
}
.icon-mode:before {
	content: "\e611";
}
.icon-modifier:before {
	content: "\e619";
}
.icon-musique:before {
	content: "\e610";
}
.icon-parametre:before {
	content: "\e60c";
}
.icon-parametre-recherche:before {
	content: "\e621";
}
.icon-passionne:before {
	content: "\e632";
}
.icon-plus:before {
	content: "\e620";
}
.icon-point-vip:before {
	content: "\e60f";
	color: rgb(235,101,49);
}
.icon-pratique:before {
	content: "\e608";
	font-size: 12px;
	color: rgb(134,134,134);
}
.icon-precedent:before {
	content: "\e61c";
}
.icon-prive:before {
	content: "\e626";
}
.icon-professionnel:before {
	content: "\e628";
	color: rgb(134,134,134);
}
.icon-publique:before {
	content: "\e606";
	color: rgb(134,134,134);
	font-size: 12px;
}
.icon-recherche:before {
	content: "\e622";
	/*color: rgb(255,255,255);
	font-size: 16px;
	line-height: 0.7;*/
}
.icon-retrecir:before {
	content: "\e61f";
	color: rgb(204,204,204);
	font-size: 12px;
}
.icon-sport:before {
	content: "\e616";
}
.icon-star-level:before {
	content: "\e60a";
}
.icon-star-note:before {
	content: "\e609";
}
.icon-suivant:before {
	content: "\e61b";
}
.icon-supprimer:before {
	content: "\e603";
}
.icon-supprimer-inviter:before {
	content: "\e60b";
}
.icon-supprimer-message:before {
	content: "\e627";
}
.icon-voyage:before {
	content: "\e612";
}
.icon-valider-contact:before {
	content: "\e634";
}
.icon-refuser-contact:before {
	content: "\e633";
}
.icon-d-lettre:before {
	content: "\e63d";
}
.icon-s-lettre:before {
	content: "\e63c";
}
.icon-v-lettre:before {
	content: "\e63b";
}
.icon-j-lettre:before {
	content: "\e63a";
}
.icon-m-lettre:before {
	content: "\e639";
}
.icon-l-lettre:before {
	content: "\e638";
}
.icon-a-lettre:before {
	content: "\e637";
	color: rgb(134,134,134);
	font-size: 12px;
}
.icon-p-lettre:before {
	content: "\e636";
	color: rgb(134,134,134);
	font-size: 12px;
}
.icon-apn:before {
	content: "\e643";
}
.icon-geolocalisation:before {
	content: "\e642";
}
.icon-web:before {
	content: "\e641";
}
.icon-pionnier:before {
	content: "\e640";
}
.icon-female:before {
	content: "\e63f";
}
.icon-male:before {
	content: "\e63e";
}
.icon-disussion-mono:before {
	content: "\e62d";
}
.icon-couple:before {
	content: "\e62f"
}
.icon-elargir2:before {
	content: "\e644";
	color: rgb(235,101,49);
	font-size: 12px;
}
.icon-retrecir2:before {
	content: "\e645";
	color: rgb(235,101,49);
	font-size: 12px;
}
.icon-notification:before {
	content: "\e646"
}
.icon-horaire:before {
	content: "\e647"
}
.icon-niveau:before {
	content: "\e648"
}
.icon-mixte:before {
	content: "\e649"
}
.icon-sourire:before {
	content: "\e64a"
}
.icon-ajouter:before{
	content: "\e635"
}