@CHARSET "UTF-8";
.leftpanel{
	width: 691px;
	display: inline-block;
	background-color: rgb(235,235,233);
}
.lp-inside{
	width: 682px;
	margin: 0px 3px 6px 6px;
	display: inline-block;
	background-color: rgb(255,255,255);
	border: transparent;
	border-radius: 2px;
}
.mon-compte-title{
	font-size: 14.4px;
	color: rgb(50,40,38);
	text-align: center;
	margin: 18px auto;
}
.mon-compte-hr{
	width: 97%;
	size: 2px;
	border: 0;
	border-top: 1px solid rgb(50,40,38);
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
.mon-compte-subtitle1{
	color: rgb(134,134,134);
	font-size: 14.4px;
	margin: 18px 20px;
	width: 200px;
}
.mon-compte-subtitle2{
	color: rgb(134,134,134);
	font-size: 14.4px;
	margin: 18px 20px 14px 20px;
}
.mon-compte-subtitle3{
	color: rgb(134,134,134);
	font-size: 14.4px;
	margin: 18px 20px 0px;
	width: 200px;
}
.mon-compte-input1{
	margin-left: 136px;
	display: -webkit-inline-box;
}
.mon-compte-input2{
	display: -webkit-inline-box;
	margin: 10px 190px;
	width: 100%;
}
.mon-compte-input3{
	display: -webkit-inline-box;
	width: 100%;
}
.margin2{
	margin-top: 18px;
}
.mon-compte-btn{
	text-align: center;
	margin: 24px auto 18px auto;
}
.mon-compte-btn2{
	text-align: center;
	margin: 14px auto 18px auto;
}
.mon-compte-btn-valide{
	display: inline;
	font-size: 14.4px;
	padding: 3px 12px;
}
.mon-compte-info-inline{
	display: -webkit-inline-box;
	width: 600px;
}
.mon-compte-info-output{
	margin: 20px auto 0px;
}
.mon-compte-link{
	color: rgb(20,192,221);
}
.mon-compte-link:hover{
	color: rgb(21,160,242);
}
#info-compte-link{
	padding-top: 20px;
	margin: auto;
}
.mon-compte-new-mdp{
	margin:10px auto;
	display: none;
}
#icon-new-mdp{
	display: none;
}
#icon-new-confirmation-mdp{
	display: none;
}
.mon-compte-delete-compte{
	margin-left: 310px;
}
.mon-compte-btn-select{
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14.4px;
	line-height: 1.4;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgb(134,134,134);
	border-color: #cccccc;
	height: 25px;
	width: 120px;
	margin: 0px 3px;
	background-color: rgb(255,255,255);
}
.mon-compte-select{
	text-align: center;
}
#btn-femme:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
	
}
#btn-homme:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}
#btn-couple:{
	width:120px;
}
#btn-couple:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}#btn-celibataire:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}#btn-non-renseigne:focus{
	color: rgb(255,255,255);
	border-color: rgb(134,134,134);
	background-color: rgb(134,134,134);
	outline: 0;
}

/*------------------------------------------------------*/
.mon-compte-context{
	width: 94%;
	margin: 18px auto;
	color: rgb(134,134,134);
}
.mon-compte-context2{
	width: 94%;
	margin: 10px auto;
	color: rgb(235,101,49);
}
.mon-compte-explique{
	width: 94%;
	height: 124px;
	margin:18px auto;
}
.mon-compte-btn-delete-block{
	text-align: center;
	margin: 18px auto;
}
.mon-compte-btn-delete{
	width: 164px;
	height: 23px;
	font-size: 14.4px;
	padding: 1px 2px;
}
#btn-delete-no{
	background-color: rgb(134,134,134);
	border-color: rgb(134,134,134);
}
#btn-delete-no:hover{
	background-color: rgb(111,111,111);
	border-color: rgb(111,111,111);
}
.mon-compte-btn-activity{
	width: 60px;
	height: 23px;
	font-size: 14.4px;
	padding: 1px 2px;
}
#mon-compte-icon-add{
	top:2.5px;
	padding-right: 2px;
}
.icon-star-level::before{
	color: rgba(235,101,49,0.5);
}
.level-star{
	text-align: center;
	cursor: pointer;
}
.input-center{
	margin: 0 auto;
}
.mon-compte-partenaire{
	margin-left: 270px;
}
#ajoute-activite{
	display: none;
}
#mon-compte-notification{
	float: left;
}
.mon-compte-notification-block1{
	margin: 18px auto;
	float: left;
}
.mon-compte-notification1{
	margin: 0 20px;
}
.mon-compte-notification-block2{
	width: 100%;
	float: left;
	margin: 2px 20px;
}
.mon-compte-notification2{
	margin: 18px 0;
}
#notification-valide{
	float: left;
	width: 100%;
}
.mon-compte-panel{
	border: transparent;
	margin: 14px 20px;
}
.mon-compte-panel-heading{
	border: transparent;
	background-image: none;
	background-color: white;
	color: rgb(235,101,49);
}
.mon-compte-panel-title{
	
}
.mon-compte-question:hover{
	color: rgb(223,87,27);
}
.mon-compte-panel-bady{
	border: transparent;
	margin: 8px 0 0 0;
}
.mon-compte-faq-contact{
	margin: 14px 20px;
}
#mon-compte-code-parrain{
	width: 197px;
	height: 24px;
	margin: 0px auto;
}
.mon-compte-invite-ami-block{
	width: 100%;
}
.mon-compte-invite-img{
	width: 23px;
	height: 23px;
}
.mon-compte-invite-link{
	width: 100px;
	margin: 0 auto 14px auto;
}
.mon-compte-invite-text{
	text-align: center;
}
/*-----------------------------------------------------------------------------------*/
.motive-list-head{
	width:100%;
	overflow: hidden;
}
.ml-head-img-block{
	margin: 18px;
	float: left;
}
.ml-head-img{
	width: 120px;
	height: 120px;
	border-radius:60px;
	border: transparent;
}
.ml-head-info-block{
	margin-top: 18px;
	float: left;
}
.ml-head-star-note2::before{
	color: rgb(134,134,134);
	font-size: 12px;
}
.ml-head-star-note1::before{
	color: rgb(235,101,49);
	font-size: 12px;
}
.ml-head-name{
	color: rgb(50,40,38);
	font-size: 24px;
}
.ml-head-link{
	margin-right: 20px;
}
.ml-head-link-icon::before{
	color: rgb(134,134,134);
	font-size: 14.4px;
	
}
.ml-head-link-text{
	color: rgb(134,134,134);
	font-size: 12px;
}
.ml-head-link:hover .ml-head-link-icon::before,
.ml-head-link:hover .ml-head-link-text{
	color: rgb(235,101,49);
}
.ml-tab{
	width:33.33333%;
	text-align: center;
}
.ml-tab-a{
	background-color: rgb(179,179,179);
	color: rgb(255,255,255);
	font-size: 14.4px;
}
.ml-body-item{
	overflow: hidden;
}
.ml-body-motive{
	padding: 10px;
	background-color: rgb(245,245,245);
}
.ml-body-img{
	width: 60px;
	height: 60px;
	border: transparent;
	border-radius: 30px;
}
.ml-body-img-block{
	margin: 8px;
	float: left;
}
.ml-body-info-block{
	margin: 8px;
	float: left;
	width: 210px;
}
.ml-body-info-link{
	color: rgb(134,134,134);
	font-size: 10px;
}
.ml-body-info-link:hover{
	color: rgb(235,101,49);
}
.ml-body-declaration-block{
	float: left;
	width: 230px;
	height: 76px;
	display: table;
}
.ml-body-button-block{
	float: left;
	margin: 8px auto 8px 30px;
}
.ml-body-button{
	text-shadow: none;
	font-size: 12px;
	border: transparent;
	background-color: rgb(179,179,179);
	color: rgb(255,255,255);
	width: 68px;
	height: 17px;
	padding: 0.7px 12px;
	margin-top: -10px;
	display: inline;
}
.ml-body-button:hover{
	background-color: rgb(235,101,49);
	color: rgb(255,255,255);
}
.ml-body-button-div1,
.ml-body-button-div2{
	height: 17px;
    margin-bottom: 4.5px;
}
.ml-body-button-div3{ 
	height: 17px;
}
.ml-body-declaration{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.ml-body-button-icon::before{
	color: rgb(255,255,255);
	font-size: 10px;
}
.ml-body-button-icon{
	top:2.5px;
	padding-right: 2px;
}
.ml-body-button-ajoute{
	padding: 0.7px 14px;
}
.ml-body-button-activite{
	padding: 0.7px 14.25px;
}