@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?7sybbf');
	src:url('../fonts/icomoon.eot?#iefix7sybbf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?7sybbf') format('woff'),
		url('../fonts/icomoon.ttf?7sybbf') format('truetype'),
		url('../fonts/icomoon.svg?7sybbf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
<span style="font-size: small;">#rateStatus{float:left; clear:both; width:100%; height:20px;}  
    #rateMe{ clear:both; width:100%;  padding:0px; margin:0px;}  
    #rateMe li{float:left;list-style:none;}  
    #rateMe li a:hover,  
    #rateMe .on::before{content:'\e626';font-family: 'icomoon';color:rgba(235,101,49,1);width:24px;height:24px;}  
    #rateMe a::before{content:'\e626';font-family: 'icomoon';color:rgba(235,101,49,0.5);float:left;width:24px; height:24px;}  
    #ratingSaved{display:none;}  
    .saved{color:red; }</span>  